In [57]:
import pandas as pd
from scraper_application.packages.scraper import performance_scrape

In [58]:
qb_url = f'https://www.fantasypros.com/nfl/stats/qb.php?year=2023&week=1&scoring=PPR&range=week'

In [59]:
qb = performance_scrape(qb_url)

In [60]:
qb.head(5)

   Rank                Player      CMP      ATT  ...     G  FPTS  FPTS/G   ROST
0                              PASSING  RUSHING  ...  None  None    None   None
1  Rank                Player      CMP      ATT  ...     G  FPTS  FPTS/G   ROST
2     1  Tua Tagovailoa (MIA)       28       45  ...     1  28.1    28.1  81.2%
3     2       Mac Jones (JAC)       35       54  ...     1  25.1    25.1   2.3%
4     3      Jordan Love (GB)       15       27  ...     1  23.0    23.0  85.7%

[5 rows x 18 columns]

In [61]:
qb = qb.drop(columns=['Rank', 'G', 'FPTS/G', 'ROST'])
qb = qb.drop(index=[0,1]).reset_index(drop=True)

In [62]:
qb.head(5)

                     Player CMP ATT   PCT  YDS   Y/A  ... SACKS ATT YDS TD FL  FPTS
0      Tua Tagovailoa (MIA)  28  45  62.2  466  10.4  ...     0   5   5  0  1  28.1
1           Mac Jones (JAC)  35  54  64.8  316   5.9  ...     2   2  15  0  0  25.1
2          Jordan Love (GB)  15  27  55.6  245   9.1  ...     1   3  12  0  0  23.0
3  Anthony Richardson (IND)  24  37  64.9  223   6.0  ...     4  10  40  1  0  21.9
4      Deshaun Watson (CLE)  16  29  55.2  154   5.3  ...     3   5  45  1  0  21.7

[5 rows x 14 columns]

In [63]:
column = ['id', 'passing_cmp', 'passing_att', 'passing_percent', 'passing_yards', 'passing_y/a', 'passing_td', 'passing_int', 'sacks', 'rushing_att', 'rushing_yards', 'rushing_td', 'fumbles_lost', 'fantasy_points']

In [64]:
qb.columns = column

In [65]:
qb.head(5)

                         id passing_cmp  ... fumbles_lost fantasy_points
0      Tua Tagovailoa (MIA)          28  ...            1           28.1
1           Mac Jones (JAC)          35  ...            0           25.1
2          Jordan Love (GB)          15  ...            0           23.0
3  Anthony Richardson (IND)          24  ...            0           21.9
4      Deshaun Watson (CLE)          16  ...            0           21.7

[5 rows x 14 columns]

In [68]:
qb[['passing_cmp', 'passing_att', 'passing_yards', 'passing_td', 'passing_int', 'sacks', 'rushing_att', 'rushing_yards', 'rushing_td', 'fumbles_lost']] = qb[['passing_cmp', 'passing_att', 'passing_yards', 'passing_td', 'passing_int', 'sacks', 'rushing_att', 'rushing_yards', 'rushing_td', 'fumbles_lost']].astype(int)
qb[['passing_percent', 'passing_y/a', 'fantasy_points']] = qb[['passing_percent', 'passing_y/a', 'fantasy_points']].astype(float)

In [70]:
qb['total_td'] = qb['passing_td'] + qb['rushing_td']
qb['total_yards'] = qb['passing_yards'] + qb['rushing_yards']
qb['week'] = 1

In [71]:
qb.head(5)

                         id  passing_cmp  ...  total_yards  week
0      Tua Tagovailoa (MIA)           28  ...          471     1
1           Mac Jones (JAC)           35  ...          331     1
2          Jordan Love (GB)           15  ...          257     1
3  Anthony Richardson (IND)           24  ...          263     1
4      Deshaun Watson (CLE)           16  ...          199     1

[5 rows x 18 columns]